In [4]:
import pandas as pd
df = pd.read_csv('Practice1_1.csv')
df.head()

,Date,Country,State,City,AvgTemperature
0,2012-12-02,US,Additional Territories,San Juan Puerto Rico,79.4
1,2012-12-03,US,Additional Territories,San Juan Puerto Rico,77.9
2,2012-12-04,US,Additional Territories,San Juan Puerto Rico,79.8
3,2012-12-05,US,Additional Territories,San Juan Puerto Rico,80.2
4,2012-12-06,US,Additional Territories,San Juan Puerto Rico,78.2

In [5]:
df.columns[-2]

'City'

In [15]:
df = pd.read_csv('Practice1_2.csv', sep=';', index_col=0)
df.head()

,Date,Country,State,City,AvgTemperature
56334,2012-12-02,US,Additional Territories,San Juan Puerto Rico,79.4
56335,2012-12-03,US,Additional Territories,San Juan Puerto Rico,77.9
56336,2012-12-04,US,Additional Territories,San Juan Puerto Rico,79.8
56337,2012-12-05,US,Additional Territories,San Juan Puerto Rico,80.2
56338,2012-12-06,US,Additional Territories,San Juan Puerto Rico,78.2

In [12]:
df = pd.read_csv('Practice1_3.csv')
df[df['AvgTemperature']>30]

          Date Country    State        City  AvgTemperature
0   2012-01-03      US  Alabama  Birmingham            30.9
1   2012-01-04      US  Alabama  Birmingham            34.7
2   2012-01-13      US  Alabama  Birmingham            31.6
3   2012-02-12      US  Alabama  Birmingham            29.5
4   2012-02-13      US  Alabama  Birmingham            34.8
5   2012-12-27      US  Alabama  Birmingham            34.3
6   2012-12-30      US  Alabama  Birmingham            34.5
7   2012-01-03      US  Alabama  Huntsville            28.2
8   2012-01-04      US  Alabama  Huntsville            32.6
9   2012-01-13      US  Alabama  Huntsville            30.1
10  2012-02-11      US  Alabama  Huntsville            34.8
11  2012-02-12      US  Alabama  Huntsville            27.6
12  2012-02-13      US  Alabama  Huntsville            31.5
13  2012-12-30      US  Alabama  Huntsville            34.1
14  2012-01-04      US  Alabama  Montgomery            34.3
15  2012-02-12      US  Alabama  Montgomery            33.3
16  2012-01-01      US   Alaska   Anchorage            -1.2
17  2012-01-02      US   Alaska   Anchorage            -6.8
18  2012-01-03      US   Alaska   Anchorage            -3.2
19  2012-01-04      US   Alaska   Anchorage             0.2
20  2012-01-05      US   Alaska   Anchorage             0.9
21  2012-01-06      US   Alaska   Anchorage            10.8
22  2012-01-07      US   Alaska   Anchorage             3.5
23  2012-01-08      US   Alaska   Anchorage            14.7
24  2012-01-09      US   Alaska   Anchorage             3.6
25  2012-01-10      US   Alaska   Anchorage             7.3
26  2012-01-11      US   Alaska   Anchorage            27.0
27  2012-01-12      US   Alaska   Anchorage            23.7
28  2012-01-13      US   Alaska   Anchorage            10.3
29  2012-01-14      US   Alaska   Anchorage             3.0

In [16]:
df = pd.read_csv('2-1.csv')
df.head()

         Date Country    State        City  AvgTemperature
0  2012-01-01      US  Alabama  Birmingham            59.1
1  2012-01-02      US  Alabama  Birmingham            43.0
2  2012-01-03      US  Alabama  Birmingham            30.9
3  2012-01-04      US  Alabama  Birmingham            34.7
4  2012-01-05      US  Alabama  Birmingham            44.1

In [19]:
df.to_csv('result.csv', index_label='index')

In [29]:
df = pd.read_csv('3-1.csv')
df.head()

         Date Country    State        City  AvgTemperature             Name
0  2012-01-01      US  Alabama  Birmingham            59.1  Joshua Harrison
1  2012-01-02      US  Alabama  Birmingham            43.0  Mauricio Hinton
2  2012-01-03      US  Alabama  Birmingham            30.9       Scott Kaur
3  2012-01-04      US  Alabama  Birmingham            34.7      Davion Moss
4  2012-01-05      US  Alabama  Birmingham            44.1  Mauricio Hinton

In [30]:
df.to_csv('result1.csv', sep=';', index_label='index')

In [32]:
df = pd.read_csv('result1.csv', sep=';', index_col='index')
df.head()

,Date,Country,State,City,AvgTemperature,Name
index,,,,,,
0,2012-01-01,US,Alabama,Birmingham,59.1,Joshua Harrison
1,2012-01-02,US,Alabama,Birmingham,43.0,Mauricio Hinton
2,2012-01-03,US,Alabama,Birmingham,30.9,"Scott Kaur, Jr"
3,2012-01-04,US,Alabama,Birmingham,34.7,Davion Moss
4,2012-01-05,US,Alabama,Birmingham,44.1,Mauricio Hinton

In [42]:
df = pd.read_csv('Practice2_1.csv')
df.head()

         Date Country    State        City  AvgTemperature
0  01/01/2012      US  Alabama  Birmingham            59.1
1  01/02/2012      US  Alabama  Birmingham            43.0
2  01/03/2012      US  Alabama  Birmingham            30.9
3  01/04/2012      US  Alabama  Birmingham            34.7
4  01/05/2012      US  Alabama  Birmingham            44.1

In [43]:
df.to_csv('MyPractice2_1.csv', sep=';', index_label='index')

In [44]:
pd.read_csv('MyPractice2_1.csv', sep=';', index_col='index')
df.head()

         Date Country    State        City  AvgTemperature
0  01/01/2012      US  Alabama  Birmingham            59.1
1  01/02/2012      US  Alabama  Birmingham            43.0
2  01/03/2012      US  Alabama  Birmingham            30.9
3  01/04/2012      US  Alabama  Birmingham            34.7
4  01/05/2012      US  Alabama  Birmingham            44.1

In [45]:
df['AvgTemperature_2'] = df['AvgTemperature'] ** 2
df.head()

         Date Country    State        City  AvgTemperature  AvgTemperature_2
0  01/01/2012      US  Alabama  Birmingham            59.1           3492.81
1  01/02/2012      US  Alabama  Birmingham            43.0           1849.00
2  01/03/2012      US  Alabama  Birmingham            30.9            954.81
3  01/04/2012      US  Alabama  Birmingham            34.7           1204.09
4  01/05/2012      US  Alabama  Birmingham            44.1           1944.81

In [46]:
df.to_csv('MyPractice2_1.csv', sep=',', index_label='index')